* {
    padding: 0;
    margin: 0;
}


.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.list-group-item {
  color: white;
  background-color: #27272b;
  margin-bottom: 2px;
}

.container {
    margin-top: 1rem;
}

.w-15 {
    width: 15%;
}

